
body.login-page {
  /*background: linear-gradient(90deg, #c7c5f4, #776bcc);*/
  /*  background: linear-gradient(90deg, #01242a, #043d2c);*/
    background-image: url(./../images/login1.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}

.login-page .container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-page .screen {
    /* background: linear-gradient(90deg, #5d54a4, #7c78b8); */
    /* box-shadow: 0px 0px 24px #5c5696; */
    position: relative;
    height: 340px;
    width: 361px;
    border-radius: 20px;
    border: 3px solid #e5e5e5;
    padding: 17px;
    background: #d4d4d447;
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 520px;
  width: 520px;
  background: #fff;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #6c63ac;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #5d54a4, #6a679e);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: #7e7bb9;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

.login-page .login {
    width: 100%;
    padding: 17px;
    height: 100%;
}

.login__field {
    position: relative;
    height: 65px;
}

.login__icon {
    position: absolute;
    top: 8px;
    color: #f8f9fa;
    font-size: 21px;
}

.login__input {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 100%;
  transition: 0.2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #6a679e;
}

.login__submit {
    background: #ffffff;
    font-size: 14px;
    margin-top: 9px;
    padding: 8px 20px;
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
    align-items: center;
    color: #343a40 !important;
    transition: 0.2s;
    display: block;
    width: 100%;
    box-shadow: 1px 1px 1px #4444;
    border-radius: 1px;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #6a679e;
  outline: none;
}

.login-page .button__icon {
    font-size: 20px;
    color: #343a40;
    margin-left: 10px;
    font-weight: bold;
}
.long-icon {
    font-size: 39px;
    color: #fff;
    height: 60px;
    width: 60px;
    background: #a7c4c6;
    text-align: center;
    border-radius: 50px;
    margin: 0 auto;
}
.admin-login{
    text-align: center;
    font-family: 'Montserrat';
}
a.see-password {
    font-size: 18px;
    position: absolute;
    right: 0px;
    bottom: 25px;
    color: #f8f9fa;
}
